CORE-SERVICES/REGISTRY/WORKFLOWS/WF-OSA-REGISTRY-LOADER-001.json
[{"updatedAt":"2026-06-29T16:31:47.305Z","createdAt":"2026-06-29T16:21:20.717Z","id":"s42JDF7KykvMYJmP","name":"WF-OSA-REGISTRY-LOADER-001-V2","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"osa/runtime/registry/load-v2","responseMode":"responseNode","options":{}},"id":"5a4c17a1-c1b0-438e-a7b0-752c2015b8a1","name":"POST /osa/runtime/boot","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"webhookId":"e8fb47a4-8e39-4a8a-8842-a0aaa7b03473"},{"parameters":{"jsCode":"const now = new Date().toISOString();\n\nconst registry = {\n  registry_version: \"1.0.0\",\n  source: \"OSA Registry Loader\",\n  assets: [\n    { asset_id: \"OSA.KERNEL.GATEWAY.001\", legacy_alias: [\"OSA-KERNEL-001\"], status: \"active\", asset_type: \"kernel\", dependencies: [] },\n    { asset_id: \"OSA.KERNEL.CREDENTIAL_VAULT.001\", legacy_alias: [\"OSA-KERNEL-002\"], status: \"active\", asset_type: \"kernel\", dependencies: [] },\n    { asset_id: \"OSA.KERNEL.LOGGER.001\", legacy_alias: [\"OSA-KERNEL-003\"], status: \"active\", asset_type: \"kernel\", dependencies: [] },\n    { asset_id: \"OSA.KERNEL.REGISTRY.001\", legacy_alias: [\"OSA-KERNEL-004\"], status: \"active\", asset_type: \"kernel\", dependencies: [] },\n    { asset_id: \"OSA.KERNEL.HEALTH_MONITOR.001\", legacy_alias: [\"OSA-KERNEL-005\"], status: \"active\", asset_type: \"kernel\", dependencies: [] },\n    { asset_id: \"AI5R.PLATFORM.MEMORY.001\", legacy_alias: [\"AI5R-MEMORY\"], status: \"active\", asset_type: \"platform\", dependencies: [\"OSA.KERNEL.REGISTRY.001\", \"OSA.KERNEL.LOGGER.001\"] },\n    { asset_id: \"AI5R.PLATFORM.GIT.001\", legacy_alias: [\"AI5R-GIT\"], status: \"active\", asset_type: \"platform\", dependencies: [\"OSA.KERNEL.GATEWAY.001\", \"OSA.KERNEL.LOGGER.001\"] },\n    { asset_id: \"AI5R.PLATFORM.ARTIFACT.001\", legacy_alias: [\"AI5R-ARTIFACT\"], status: \"active\", asset_type: \"platform\", dependencies: [\"AI5R.PLATFORM.MEMORY.001\", \"AI5R.PLATFORM.GIT.001\"] }\n  ]\n};\n\nconst assetMap = Object.fromEntries(registry.assets.map(a => [a.asset_id, a]));\nconst errors = [];\n\nfor (const asset of registry.assets) {\n  for (const dep of asset.dependencies || []) {\n    if (!assetMap[dep]) {\n      errors.push(`Missing dependency ${dep} for ${asset.asset_id}`);\n    }\n  }\n}\n\nconst modules = registry.assets.map(asset => ({\n  asset_id: asset.asset_id,\n  legacy_alias: asset.legacy_alias || [],\n  asset_type: asset.asset_type,\n  status: asset.status,\n  dependencies: asset.dependencies || []\n}));\n\nreturn [{\n  json: {\n    success: errors.length === 0,\n    product: \"OSA\",\n    service: \"OSA-REGISTRY-LOADER-001\",\n    status: errors.length ? \"DEGRADED\" : \"READY\",\n    loaded_at: now,\n    registry_version: registry.registry_version,\n    modules_count: modules.length,\n    modules,\n    errors\n  }\n}];"},"id":"1f0eda8d-55b7-49fd-877b-8c55402b4599","name":"Boot Loader + Dependency Resolver","type":"n8n-nodes-base.code","typeVersion":2,"position":[272,0]},{"parameters":{"jsCode":"return items;"},"id":"bebb602b-3db7-438f-96bb-74e9382195a2","name":"Build Boot Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[864,0]},{"parameters":{"respondWith":"json","responseBody":"={{$json}}","options":{}},"id":"809ff298-b66e-484f-b9a6-18b9dd022791","name":"Respond JSON","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1120,0]}],"connections":{"POST /osa/runtime/boot":{"main":[[{"node":"Boot Loader + Dependency Resolver","type":"main","index":0}]]},"Boot Loader + Dependency Resolver":{"main":[[{"node":"Build Boot Response","type":"main","index":0}]]},"Build Boot Response":{"main":[[{"node":"Respond JSON","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"saveDataErrorExecution":"all","saveDataSuccessExecution":"all","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":false,"instanceId":"AI5R-OSA-RUNTIME"},"nodeGroups":[],"pinData":{},"versionId":"cea53a9c-7a96-4a67-8c23-321bde602dde","activeVersionId":"6a4829d2-084c-4beb-b49e-3aa6fc6d5f13","versionCounter":6,"triggerCount":1,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-06-29T16:21:20.717Z","createdAt":"2026-06-29T16:21:20.717Z","role":"workflow:owner","workflowId":"s42JDF7KykvMYJmP","projectId":"Hb76xJkWpGQ50Fyj","project":{"updatedAt":"2026-06-26T13:40:56.881Z","createdAt":"2026-06-26T12:21:40.509Z","id":"Hb76xJkWpGQ50Fyj","name":"B Founder <alfikr.raid@gmail.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"bec58919-e173-4614-b6f4-b60c480447c7"}}],"versionMetadata":{"name":null,"description":null}}]