CORE-SERVICES/MODULE-MANAGER/WORKFLOWS/WF-OSA-MODULE-MANAGER-001.json
[{"updatedAt":"2026-06-29T16:48:27.147Z","createdAt":"2026-06-29T16:44:00.872Z","id":"jhACcHrIsUVvY7zY","name":"WF-OSA-MODULE-MANAGER-001","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"osa/runtime/module-manager","responseMode":"responseNode","options":{}},"id":"85f10272-37c8-43fd-af0c-16493606ba1b","name":"POST /osa/runtime/boot","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"webhookId":"0ac82ccd-a3c6-45e1-ac04-69919e6ae083"},{"parameters":{"jsCode":"const now = new Date().toISOString();\n\nconst modules = [\n  {\n    module_id: \"OSA.KERNEL.GATEWAY.001\",\n    type: \"kernel\",\n    status: \"loaded\"\n  },\n  {\n    module_id: \"OSA.KERNEL.CREDENTIAL_VAULT.001\",\n    type: \"kernel\",\n    status: \"loaded\"\n  },\n  {\n    module_id: \"OSA.KERNEL.LOGGER.001\",\n    type: \"kernel\",\n    status: \"loaded\"\n  },\n  {\n    module_id: \"OSA.KERNEL.REGISTRY.001\",\n    type: \"kernel\",\n    status: \"loaded\"\n  },\n  {\n    module_id: \"OSA.KERNEL.HEALTH_MONITOR.001\",\n    type: \"kernel\",\n    status: \"loaded\"\n  },\n  {\n    module_id: \"AI5R.PLATFORM.MEMORY.001\",\n    type: \"platform\",\n    status: \"loaded\"\n  },\n  {\n    module_id: \"AI5R.PLATFORM.GIT.001\",\n    type: \"platform\",\n    status: \"loaded\"\n  },\n  {\n    module_id: \"AI5R.PLATFORM.ARTIFACT.001\",\n    type: \"platform\",\n    status: \"loaded\"\n  }\n];\n\nreturn [\n  {\n    json: {\n      success: true,\n      product: \"OSA\",\n      service: \"OSA-MODULE-MANAGER-001\",\n      version: \"1.0.0\",\n      status: \"READY\",\n      loaded_at: now,\n      modules_count: modules.length,\n      modules\n    }\n  }\n];"},"id":"81d6f331-7056-4ed9-8238-e986cb09292a","name":"Boot Loader + Dependency Resolver","type":"n8n-nodes-base.code","typeVersion":2,"position":[272,0]},{"parameters":{"jsCode":"return items;"},"id":"51627c0c-f7c3-420f-a641-46f6090cb82d","name":"Build Boot Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[864,0]},{"parameters":{"respondWith":"json","responseBody":"={{$json}}","options":{}},"id":"f46fb21c-a1f2-445e-a35b-a69faedcfac1","name":"Respond JSON","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1120,0]}],"connections":{"POST /osa/runtime/boot":{"main":[[{"node":"Boot Loader + Dependency Resolver","type":"main","index":0}]]},"Boot Loader + Dependency Resolver":{"main":[[{"node":"Build Boot Response","type":"main","index":0}]]},"Build Boot Response":{"main":[[{"node":"Respond JSON","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"saveDataErrorExecution":"all","saveDataSuccessExecution":"all","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":false,"instanceId":"AI5R-OSA-RUNTIME"},"nodeGroups":[],"pinData":{},"versionId":"4f337a13-5c20-4d36-83b0-bb3658f1174d","activeVersionId":"4f337a13-5c20-4d36-83b0-bb3658f1174d","versionCounter":5,"triggerCount":1,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-06-29T16:44:00.872Z","createdAt":"2026-06-29T16:44:00.872Z","role":"workflow:owner","workflowId":"jhACcHrIsUVvY7zY","projectId":"Hb76xJkWpGQ50Fyj","project":{"updatedAt":"2026-06-26T13:40:56.881Z","createdAt":"2026-06-26T12:21:40.509Z","id":"Hb76xJkWpGQ50Fyj","name":"B Founder <alfikr.raid@gmail.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"bec58919-e173-4614-b6f4-b60c480447c7"}}],"versionMetadata":{"name":"WF-OSA-MODULE-MANAGER-001","description":""}}]